/* La ventana modal */
.modal-simple-cont {
  background-color: #cc8;
  width: 600px;
  padding: 10px 20px;
  margin-top: 25px;
  margin-right: 5px;
  position: fixed;
  right: 0;
  top: 20px;
  bottom: 5px;
  z-index: 3;
  overflow-y: auto;
  text-align: left;
}
/* El botón de activar */
.modal-simple-btn {
  background-color: green;
  color: white;
  display: block;
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 4;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
/* Transiciones */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
